* {
  margin: 0;
  padding: 0;
}

#header {
  background-color: lightpink;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;   /*for horizontal*/
}

#container {
  background-color:black;
  height: 70vh;
  display: flex;
  
  justify-content: space-evenly;
  align-items: center;
}


.tile {
  height: 200px;
  width: 200px;
  margin-right: 50px;
  margin-bottom: 50px;
  background-color: aliceblue;
}
.newgamebutton {
  
 border-style: solid;
 border-width: 7px;
 border-color: cyan;
background-color:rgb(219, 89, 165);
}
.counter{
  border-style: solid;
  margin-right: 0px;
  border-width: 7px;
  border-color: cyan;
 background-color:plum;
 font-family: "Lucida Console", "Courier New", monospace;

}
.score{
  background-color:yellowgreen;
 font-family: "Lucida Console", "Courier New", monospace;
}
.scores{
 background-color:yellowgreen;
 font-family: "Lucida Console", "Courier New", monospace;
 font-size: 40px;
}

#displayCount{
  margin-left: 0px;
  height:10;
  font-size: 40px;
  border-style: solid;
  border-width: 1px;
 padding: 10px;
   border-color: cyan;
 background-color: plum;
}
